.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

/************* Varibels *********/
:root {
  /* --primaryColor: #9e3aa3; */
  /* --primaryDarkColor: #4e1d51; */
  --primarymain: #23c1ff;
  /* --primaryColor: #E4487C; */
  --primaryColor: #eaeae8;
  --primaryDarkColor: #3b864f;
  --primaryFont: 'Catamaran', sans-serif;
  --slantedFont: 'Kaushan Script', cursive;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground:/* #f5f8ff*/ #eaf0f2;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: rgb(218, 237, 251);
  --darkGrey: #d8d8d8;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
  --primaryblue: #0055d9;
}

/**** Start Style Navbar ***/
nav {
  background-color: var(--mainWhite);
  border: 2px solid #eee;
  /* position: relative; */
}
.nav-center {
  position: relative;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  width: 50px;
  height: 40px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.list-nav {
  list-style: none;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  height: 0px;
  overflow: hidden;
  transition: 0.6s;
}
.show {
  height: 240px;
}
.nav-toggle {
  border: none;
  background-color: transparent;
  padding: 6px 5px;
  transition: 0.5s;
}
.nav-toggle.active {
  transform: rotate(90deg);
}
.list-nav li {
  display: block;
  margin: 0px 10px;
}
.list-nav li a {
  text-decoration: none;
  color: var(--primaryblue);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.list-nav a:hover {
  background: var(--mainBlack);
  color: var(--mainWhite);
  text-decoration: none;
}
.list-nav li a .count-items {
  background: var(--mainRed);
  border-radius: 5px;
  padding: 1px 5px;
  font-size: 14px;
  color: var(--mainWhite);
}

/******* Start Media Query Navbar *****/

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 0px;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .list-nav {
    list-style: none;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    height: 40px;
    overflow: hidden;
    transition: 0.04s;
  }
  .show {
    height: 40px !important;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links a {
    padding: 0;
    color: var(--mainBlack) !important;
  }
  .links a:hover {
    background: var(--primarymain);
    background: transparent;
  }
}

/***** Start Home ******/
.home {
  text-align: center;
  background-color: var(--primaryColor);
  padding-bottom: 100px;
  /* background-color:#eee; */
  fill: #fff;
  background-size: 500px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st2{fill:rgba(255,255,255,1)} %3C/style%3E%3Cg style='display:none'%3E%3Cpath style='display:inline;fill:%23808080' d='M-10-12h522v522H-10z' id='Layer_1'/%3E%3C/g%3E%3Cg id='Layer_2'%3E%3Cpath class='st2' d='M113.3 136c-2.6-4.6-5.1-8.9-3.3-13.7.5-1.5 1.6-2.5 2.9-3.8 1.5-1.4 3.1-3 3.9-5.3.9-2.7.5-5.8.2-8.5-.2-1.5-.4-3-.4-4.2 0-.7.1-1.3.1-2 .2-4.5.5-9.1-1-13-1.6-4.2-5-6.8-10.1-7.5-1-7-11.9-10.6-15.5-11.6-6.5-1.8-8.6-.7-13.6 1.9l-.8.4c-5.5 2.1-11.6 13.9-11.4 18.8.1 2.9 1.6 5.3 3.1 7.6 1 1.6 2 3.1 2.4 4.7.2.7.1 1.4 0 2.1-.2 1.2-.4 2.8.5 4.7.8 1.7 2.6 2.9 4.2 4.1.7.5 1.3.9 1.7 1.3.3.3.9 1.1 1.4 1.7.7.8 1.1 1.3 1.5 1.7 1.5 1.4 3.2 2.5 4.9 3.6 1.3.9 2.6 1.7 3.7 2.6 2.3 2 2.6 3.3 3 5.7.3 1.4.6 3.2 1.4 5.4.5 1.3 1 2.3 1.5 3 .7 1.3 1.1 2 1.2 4.3-.3 1.2-1.7 6.2-2.1 7.2-.3.5-.3 1.1-.1 1.6 1.7 4.7 5.1 4.8 7.6 4.9 1.1 0 2.2.1 3.1.5.8.4 1.6 1 2.3 1.7 1.1 1 2.4 2.1 4.1 2.1.2 0 .4 0 .7-.1 1.9-.3 3.5-1.9 5.5-5.4.4-.6.6-1.3.9-1.9.1-.2.2-.4.2-.6 1.5-4.9-1.3-9.7-3.7-14zM51.2 88c-2.7-.6-5.4-1.1-8.1-1.7-1.9-.4-2.7 2.5-.8 2.9 2.7.6 5.4 1.1 8.1 1.7 1.9.3 2.7-2.6.8-2.9zM55.2 56.8c-.8-1.8-3.4-.2-2.6 1.5 1.8 4 4 7.6 6.8 11 1.2 1.5 3.3-.6 2.1-2.1-2.5-3.2-4.6-6.6-6.3-10.4zM82.8 50.9c-.7.2-1.3 1.1-1 1.8.1.2.1.4.2.5v.1c-.5.4-.8 1-.6 1.6.2.8 1.1 1.3 1.8 1 1.8-.5 2.1-2.6 1.5-4.1-.3-.6-1-1.1-1.9-.9zm-.9 2.8v-.2.2zM105.8 52.2c-2.7 3.3-4.6 7.1-5.3 11.4-.3 1.9 2.6 2.7 2.9.8.6-3.7 2.1-7.1 4.5-10.1 1.3-1.5-.8-3.6-2.1-2.1zM122.1 72.8c-.4-.7-1.3-.9-2.1-.5l-1.8.9c-.7.4-.9 1.4-.5 2.1.4.7 1.3.9 2.1.5l1.8-.9c.7-.4.9-1.4.5-2.1zM57.6 111.5c-1 .5-2.1 1.1-3.1 1.6-.7.4-.9 1.4-.5 2.1.4.7 1.3.9 2.1.5 1-.5 2.1-1.1 3.1-1.6.7-.4.9-1.4.5-2.1-.5-.7-1.4-.9-2.1-.5zM390.2 383.2c-.9-2.9-1.8-5.8-2.6-8.7-.6-1.8-3.5-1.1-2.9.8.9 2.9 1.8 5.8 2.6 8.7.6 1.9 3.5 1.1 2.9-.8zM424.9 390.8c1.8-.6 2.5-3 3.2-4.5.7-1.8 1.4-3.6 1.9-5.4.5-1.9-2.4-2.7-2.9-.8-.4 1.3-.8 2.7-1.3 4-.3.9-.6 1.7-1 2.6-.2.4-.4.7-.6 1.1-.1.3-.6.4 0 .2-1.9.5-1.1 3.4.7 2.8zM441.3 402.1c1.1-.8 2.3-1.7 3.4-2.5.7-.5 1-1.3.5-2.1-.4-.6-1.4-1-2.1-.5-1.1.8-2.3 1.7-3.4 2.5-.7.5-1 1.3-.5 2.1.4.6 1.4 1 2.1.5zM370.8 414.8c-1.8-2.6-4.7-3.7-7.8-3.2-1.9.3-1.1 3.2.8 2.9 1.7-.3 3.4.4 4.4 1.8 1.1 1.6 3.7.1 2.6-1.5zM457.7 427.7c2.2-.7 4.4-1.4 6.7-2 1.8-.6 1.1-3.5-.8-2.9-2.2.7-4.4 1.4-6.7 2-1.8.6-1 3.5.8 2.9zM371.7 396.6c-3.1-2.5-6.2-4.9-9.3-7.4-1.5-1.2-3.6.9-2.1 2.1 3.1 2.5 6.2 4.9 9.3 7.4 1.5 1.2 3.6-.9 2.1-2.1zM219.3 205.6c-.4-.7-1.2-1.2-2-1.1-.8.1-1.5.7-1.7 1.5 0 .2-1.3 4.4-8.7 7.6-4 1.7-6.4 3.9-7.2 6.4-.8 2.6.4 4.5.5 4.6l53.1 88.2c.2.4 1.4 2.3 3.8 2.9.5.1.9.2 1.4.2 1.4 0 2.8-.5 4.3-1.4 1.7-1.1 2.9-2.4 3.9-3.8v-.1c2-2.8 2.6-5.4 2.6-5.6.1-.5 0-.9-.2-1.4l-49.8-98zm41.2 105.6c-1 .6-1.8.9-2.5.7-.8-.2-1.3-1-1.3-1v-.1l-53.1-88.2c0-.1-.4-.7-.1-1.5.2-.7 1.1-2 4-3.5l18.5 32.1c.4.6 1 1 1.7 1 .3 0 .7-.1 1-.3 1-.6 1.3-1.8.7-2.7l-18.3-31.8c3.1-1.7 5-3.6 6.3-5.2l47.8 94.1c0 .1-.1.3-.2.5L246.8 272c-.5-1-1.7-1.3-2.7-.8-1 .5-1.3 1.7-.8 2.7l19.4 35.3c-.7.8-1.3 1.4-2.2 2zM322 132.2c-.5-.6-1.4-.8-2.2-.6-.2.1-4.3 1.5-11.2-2.8-3.7-2.3-6.8-3-9.4-2.2-2.6.8-3.5 2.9-3.5 3.1l-42 94c-.2.4-1.1 2.5-.2 4.8.7 1.7 2.1 3.1 4.3 3.9 1.9.8 3.9 1 5.6 1 3.3 0 5.8-1 5.9-1 .4-.2.8-.5 1-.9l52-97c.4-.8.2-1.7-.3-2.3zm-54.9 96.6c-1 .3-3.1.7-5.4.4l15.1-33.5c.5-1 0-2.2-1-2.6-1-.5-2.2 0-2.6 1l-15.3 33.7c-.3-.3-.6-.6-.7-.9-.3-.8 0-1.6.1-1.7v-.1l42-94c0-.1.3-.7 1.2-.9.7-.2 2.3-.3 5.1 1.3L289.9 165c-.5 1 0 2.2 1 2.7.3.1.6.2.8.2.8 0 1.5-.4 1.8-1.2l15.6-33.2c3.1 1.5 5.8 2.1 7.8 2.2l-49.8 93.1zM246 122c.2.4 1.2 2.4 3.6 3.2.6.2 1.2.3 1.9.3 1.2 0 2.5-.4 3.9-1.1 5.4-2.9 7.2-8.6 7.3-8.9.1-.4.1-.9-.1-1.4l-42-101.7c-.3-.8-1.1-1.2-1.9-1.2-.8 0-1.6.6-1.8 1.3-.1.2-1.6 4.3-9.3 6.9-4.1 1.4-6.7 3.3-7.6 5.8-1 2.5.1 4.5.1 4.7L246 122zm-42.3-95.4c.3-.7 1.2-1.9 4.3-3.1l15.9 33.4c.3.7 1.1 1.1 1.8 1.1.3 0 .6-.1.9-.2 1-.5 1.4-1.7.9-2.7L211.7 22c3.2-1.5 5.3-3.2 6.6-4.7l40.2 97.6c-.4 1-1.4 2.9-3.1 4.5l-16.2-32.9c-.5-1-1.7-1.4-2.7-.9-1 .5-1.4 1.7-.9 2.7l16.4 33.2c-.4.1-.8.1-1.1 0-.8-.3-1.2-1.1-1.2-1.1v-.1l-45.9-92.2c-.2-.1-.5-.7-.1-1.5zM407.5 299H405v-2.5c0-1.1-.9-2-2-2s-2 .9-2 2v2.5h-2.5c-1.1 0-2 .9-2 2s.9 2 2 2h2.5v2.5c0 1.1.9 2 2 2s2-.9 2-2V303h2.5c1.1 0 2-.9 2-2s-.9-2-2-2zM120.7 210.7l2.7-2.7c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-2.7 2.7-2.7-2.7c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l2.7 2.7-2.7 2.7c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l2.7-2.7 2.7 2.7c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-2.7-2.7zM449.6 471.6c0-.1-3.1-14.1-4.8-23.1-1.3-7.2-1.4-11.7-1.4-13.1.9-1.8 4-8.2 3.1-14.2-.3-1.8-.3-3.2-.4-4.4-.2-3.1-.3-5.8-3.9-7.3-1.5-.6-2.9-1.2-4.2-1.6-1.5-.6-2.9-1.1-4-1.6-.6-.3-2-1-11.5 2.3l-.2.2c-.2.1-6.4 4.3-14.4 14.3-.4.5-1.9-1.6 10-13 .3-2.9-.6-6.7-.8-8.3-.5-3.1-4.9-6.6-6.2-7.6l-.6-.3c-4.9-1.5-16.8-4.4-20.3-.6-3.3 3.6-6.2 12.2-6.3 16.7 0 2 .1 6.4.3 10.9.2 4.5.3 9.3.3 12.6 0 2.5-.3 6.1-.7 9.5-.8 8.3-1.1 12.2.2 14 1.5 2.1 2.6 3.1 4.5 4.9.4.4.9.8 1.5 1.3 4.4 4.1 16.9-.9 25.3-7.8 4.6-3.8 9.1-7.9 12.4-11-.2-.7-.1-2 .4-4.9.7-4.4-.2-5.9-.2-5.9.2-.1.5-.1.8.2.8.6.9 2.6.3 5.9l-.1 3.6c.2 1.9.6 4.2 1.5 6.8l.9-1.5c.1-.3.5-.4.8-.3.3.1.4.5.3.8l-1.4 2.3c.3.7.6 1.3.9 2l1.1-2.3c.1-.3.5-.4.8-.3.3.1.4.5.3.8l-1.5 3c0 .1.1.1.1.2.3.5.6 1 .9 1.4l.5-1.1c.1-.3.5-.4.8-.3.3.1.4.5.3.8l-.8 1.7c2.6 3.9 4.6 6 6 7.5.7.8 1.3 1.3 1.6 1.8 1.3 2.1 4.1 6.3 4.2 6.5.4.6 1 .9 1.7.9.3 0 .5-.1.8-.2.8-.4 1.3-1.3 1.1-2.2z'/%3E%3Cg%3E%3Cpath class='st2' d='M124.4 419.2c-.4-.4-.9-.7-1.5-.7H121c.1-1.2.1-2.7-.6-4.1-3.9-7.8-10.3-14.1-17.2-16.9-4.7-1.9-7.1.1-8.3 2.1-2.8 4.5-8.2 7.1-13.4 9.7-2.3 1.1-4.4 2.1-6.3 3.3-2.1 1.3-3.1 2.3-3.3 5.3 0 .2 0 .4.1.6h-3.2c-.6 0-1.1.3-1.5.7s-.5 1-.5 1.6l4.3 27.5c.2 1 1 1.7 2 1.7h45.5c1 0 1.8-.7 2-1.7l4.3-27.5c.1-.6-.1-1.2-.5-1.6zM76 418.1c0-1.3 0-1.3 1.4-2.1 1.7-1.1 3.7-2.1 5.9-3.1 5.4-2.7 11.6-5.7 15-11.1.5-.8 1.1-1.4 3.5-.5 6 2.4 11.6 8 15.1 15 .3.5.2 1.4.2 2.3H75.9c.1-.2.1-.4.1-.5zm40.9 27.9H91v-.2l-1-9c-.1-1.1-1.1-1.9-2.2-1.8-1.1.1-1.9 1.1-1.8 2.2l1 8.8h-4.1L81 430.8c-.1-1.1-1.1-1.9-2.2-1.7-1.1.1-1.9 1.1-1.7 2.2l1.8 14.8h-4l-3.6-23.5h49.3l-3.7 23.4z'/%3E%3Ccircle class='st2' cx='98' cy='414' r='2'/%3E%3Ccircle class='st2' cx='104.5' cy='408.5' r='2.5'/%3E%3C/g%3E%3Cpath class='st2' d='M394.2 176c.6-3.2 1.2-6.1 3.9-7.7.8-.5 1.8-.5 2.9-.6 1.2-.1 2.6-.2 4-.9 1.5-.9 2.5-2.5 3.5-3.9.5-.8 1-1.6 1.5-2.1.3-.3.6-.6.8-.9 1.9-2 3.9-4.1 4.7-6.5.9-2.6.3-5.1-1.8-7.5 2.3-3.7-1.4-9.7-2.6-11.6-2.3-3.4-3.7-3.8-7.1-4.5l-.6-.1c-3.4-1.2-10.9 1.9-12.8 4.3-1.1 1.4-1.4 3.1-1.6 4.8-.2 1.2-.3 2.3-.8 3.2-.2.4-.5.7-.9 1-.6.5-1.3 1.1-1.6 2.4-.3 1.1.1 2.4.4 3.6.1.5.3 1 .3 1.3v2.7c.2 1.3.5 2.5.8 3.6.3.9.5 1.8.7 2.7.3 1.9-.1 2.6-.9 3.9-.4.8-1 1.7-1.5 3.1-.3.8-.4 1.5-.5 2-.2.9-.3 1.4-1.2 2.5-.6.4-3.2 2.2-3.8 2.6-.3.1-.6.4-.7.7-1.1 2.9.5 4.3 1.6 5.3.5.5 1 .9 1.3 1.5.2.5.3 1.1.4 1.7.1.9.3 1.9 1.1 2.6.1.1.2.2.3.2 1 .6 2.4.5 4.7-.3.4-.1.8-.3 1.2-.5.1 0 .2-.1.3-.2 2.8-2.1 3.4-5.4 4-8.4zM438.5 49.6l3.2-5.4c.9-1.6.4-3.6-1.1-4.5-1.6-.9-3.6-.4-4.5 1.1l-3.2 5.4-5.4-3.2c-1.6-.9-3.6-.4-4.5 1.1-.9 1.6-.4 3.6 1.1 4.5l5.4 3.2-3.2 5.4c-.9 1.6-.4 3.6 1.1 4.5.8.5 1.7.6 2.5.4.8-.2 1.6-.7 2-1.5l3.2-5.4 5.4 3.2c.8.5 1.7.6 2.5.4.8-.2 1.6-.7 2-1.5.9-1.6.4-3.6-1.1-4.5l-5.4-3.2zM169 378.4l-2 .8-.8-2c-.3-.9-1.3-1.3-2.2-1-.9.3-1.3 1.3-1 2.2l.8 2-2 .8c-.9.3-1.3 1.3-1 2.2.3.9 1.3 1.3 2.2 1l2-.8.8 2c.3.9 1.3 1.3 2.2 1s1.3-1.3 1-2.2l-.8-2 2-.8c.9-.3 1.3-1.3 1-2.2-.3-.9-1.3-1.3-2.2-1z'/%3E%3C/g%3E%3C/svg%3E");
}
.home .content {
  margin-top: 100px;
}
.home .content h1 {
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}
.home .content p {
  text-transform: capitalize;
  font-size: 13px;
}
.home .content .btn-shop {
  margin: 10px auto;
  width: 180px;
  height: 50px;
  padding: 0;
  border: none;
}
.home .content .btn-shop a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--mainBlack);
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  /* border:none; */
}

/************* Start Service **********/

.services {
  background-color: var(--offWhite);
  padding: 50px 0px;
  display: block;
}
.services .title {
  margin: 30px 0px;
  color: var(--mainBlack);
  text-transform: capitalize;
}
.services .content-serv {
  background-color: var(--mainWhite);
  margin: 20px 0px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02), 0 2px 3px rgba(0, 0, 0, 0.02);
  text-align: center;
}
.services .content-serv h2 {
  color: var(--mainBlack);
  font-size: 3rem;
}

.services .content-serv p {
  color: #888;
  font-family: monospace, Arial, Helvetica, sans-serif;
}

/******************* Style Featured *********************/
.featured {
  padding-top: 50px;
}

/****** Start Subscribe ******/
.subscribe {
  padding: 80px 0px;
  background-color: var(--darkGrey);
  fill: #fff;
  background-size: 500px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' %3E%3Cstyle%3E .st0{fill:rgba(255,255,255,1)} %3C/style%3E%3Cpath class='st0' d='M55.5 475h-19c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h19c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM144.7 178.9c-.4 0-.8-.1-1.2-.2-1.8-.7-2.7-2.7-2.1-4.5l6.6-17.8c.7-1.8 2.7-2.7 4.5-2.1 1.8.7 2.7 2.7 2.1 4.5l-6.6 17.8c-.6 1.4-1.9 2.3-3.3 2.3zM107.9 130.4c-1 0-2.1-.5-2.7-1.3l-11.8-14.9c-1.2-1.5-.9-3.7.6-4.9 1.5-1.2 3.7-.9 4.9.6l11.8 14.9c1.2 1.5.9 3.7-.6 4.9-.7.5-1.4.7-2.2.7zM103.2 87.6c-1.5 0-2.8-.9-3.3-2.4-.6-1.8.3-3.8 2.2-4.4l6.6-2.3c1.8-.6 3.8.3 4.4 2.2.6 1.8-.3 3.8-2.2 4.4l-6.6 2.3c-.3.2-.7.2-1.1.2zM300.5 46c-.9 0-1.8-.3-2.5-1-1.4-1.4-1.4-3.6 0-5l15-15c1.4-1.4 3.6-1.4 4.9 0 1.4 1.4 1.4 3.6 0 5l-15 15c-.6.7-1.5 1-2.4 1zM193.5 292c-1.9 0-3.5-1.6-3.5-3.5v-9c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v9c0 1.9-1.6 3.5-3.5 3.5zM163.5 40c-.9 0-1.8-.3-2.5-1-1.4-1.4-1.4-3.6 0-5l17.5-17.5c1.4-1.4 3.6-1.4 5 0s1.4 3.6 0 5L166 39c-.7.7-1.6 1-2.5 1zM252.5 167h-12c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h12c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM199 142.5c-.9 0-1.8-.3-2.5-1L186 131c-1.4-1.4-1.4-3.6 0-5s3.6-1.4 5 0l10.5 10.5c1.4 1.4 1.4 3.6 0 5-.7.7-1.6 1-2.5 1zM108.5 162h-31c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h31c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM134.5 231c-1.9 0-3.5-1.6-3.5-3.5v-16c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v16c0 1.9-1.6 3.5-3.5 3.5zM136.5 86c-1.9 0-3.5-1.6-3.5-3.5v-23c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v23c0 1.9-1.6 3.5-3.5 3.5zM63.5 64h-21c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h21c1.9 0 3.5 1.6 3.5 3.5S65.4 64 63.5 64zM70.5 124c-.9 0-1.8-.3-2.5-1l-9-9c-1.4-1.4-1.4-3.6 0-5s3.6-1.4 5 0l9 9c1.4 1.4 1.4 3.6 0 5-.7.7-1.6 1-2.5 1zM97.5 200c-1.9 0-3.5-1.6-3.5-3.5v-8c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v8c0 1.9-1.6 3.5-3.5 3.5zM256.5 129h-15c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h15c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM172.5 102c-1.9 0-3.5-1.6-3.5-3.5v-9c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v9c0 1.9-1.6 3.5-3.5 3.5zM275.5 214c-.9 0-1.8-.3-2.5-1l-9-9c-1.4-1.4-1.4-3.6 0-5s3.6-1.4 4.9 0l9 9c1.4 1.4 1.4 3.6 0 5-.6.7-1.5 1-2.4 1zM104.5 262c-1.9 0-3.5-1.6-3.5-3.5v-17c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v17c0 1.9-1.6 3.5-3.5 3.5zM53.5 278c-1.1 0-2.1-.5-2.8-1.4-1.2-1.5-.8-3.7.7-4.9l12-9c1.5-1.2 3.7-.8 4.9.7 1.2 1.5.8 3.7-.7 4.9l-12 9c-.6.5-1.4.7-2.1.7zM173.5 264c-.6 0-1.1-.1-1.7-.4l-13-7c-1.7-.9-2.3-3-1.4-4.7.9-1.7 3-2.3 4.7-1.4l13 7c1.7.9 2.3 3 1.4 4.7-.6 1.1-1.8 1.8-3 1.8zM203.5 182h-26c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h26c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM84.5 61c-1.9 0-3.5-1.6-3.5-3.5v-22c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v22c0 1.9-1.6 3.5-3.5 3.5zM196.5 82c-.9 0-1.8-.3-2.5-1-1.4-1.4-1.4-3.6 0-5l15-15c1.4-1.4 3.6-1.4 5 0s1.4 3.6 0 5l-15 15c-.7.7-1.6 1-2.5 1zM196.5 236c-.9 0-1.8-.3-2.5-1l-13-13c-1.4-1.4-1.4-3.6 0-5s3.6-1.4 5 0l13 13c1.4 1.4 1.4 3.6 0 5-.7.7-1.6 1-2.5 1zM37.5 151c-1.1 0-2.2-.5-2.9-1.6-1.1-1.6-.6-3.8 1-4.9l9-6c1.6-1.1 3.8-.6 4.9 1 1.1 1.6.6 3.8-1 4.9l-9 6c-.7.4-1.3.6-2 .6zM30.5 107h-5c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h5c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM121.5 42h-6c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h6c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM123.5 345c-1.2 0-2.3-.6-3-1.6l-7-11c-1-1.6-.6-3.8 1.1-4.8 1.6-1 3.8-.6 4.8 1.1l7 11c1 1.6.6 3.8-1.1 4.8-.5.3-1.2.5-1.8.5zM31.5 353c-.2 0-.5 0-.7-.1-1.9-.4-3.1-2.3-2.7-4.2l3-14c.4-1.9 2.3-3.1 4.2-2.7 1.9.4 3.1 2.3 2.7 4.2l-3 14c-.4 1.7-1.9 2.8-3.5 2.8zM72.5 318c-.6 0-1.1-.1-1.6-.4l-17-9c-1.7-.9-2.4-3-1.5-4.7.9-1.7 3-2.4 4.7-1.5l17 9c1.7.9 2.4 3 1.5 4.7-.6 1.2-1.8 1.9-3.1 1.9zM256.5 380h-19c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h19c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM299.2 353.3c-.2 0-.4 0-.7-.1-1.9-.4-3.1-2.2-2.8-4.1l3.6-18.7c.4-1.9 2.2-3.1 4.1-2.8 1.9.4 3.1 2.2 2.8 4.1l-3.6 18.7c-.3 1.8-1.7 2.9-3.4 2.9zM328 295c-.4 0-.7-.1-1.1-.2l-18-5.9c-1.8-.6-2.8-2.6-2.2-4.4.6-1.8 2.6-2.8 4.4-2.2l18 5.9c1.8.6 2.8 2.6 2.2 4.4-.4 1.4-1.8 2.4-3.3 2.4zM345.2 267.6c-1.5 0-2.8-.9-3.3-2.4-.6-1.8.3-3.8 2.2-4.4l6.6-2.3c1.8-.6 3.8.3 4.4 2.2.6 1.8-.3 3.8-2.2 4.4l-6.6 2.3c-.4.2-.7.2-1.1.2zM396 381.5c-.9 0-1.8-.3-2.5-1L376 363c-1.4-1.4-1.4-3.6 0-4.9 1.4-1.4 3.6-1.4 4.9 0l17.5 17.5c1.4 1.4 1.4 3.6 0 4.9-.6.7-1.5 1-2.4 1zM350.5 422c-.9 0-1.8-.3-2.5-1-1.4-1.4-1.4-3.6 0-4.9l15-15c1.4-1.4 3.6-1.4 4.9 0 1.4 1.4 1.4 3.6 0 4.9l-15 15c-.6.7-1.5 1-2.4 1zM417.3 460.2c-1.4 0-2.7-.8-3.2-2.2-.7-1.8.1-3.8 1.9-4.6l8.3-3.4c1.8-.7 3.8.1 4.6 1.9.7 1.8-.1 3.8-1.9 4.6l-8.3 3.4c-.5.2-.9.3-1.4.3zM329.5 464c-.9 0-1.8-.3-2.5-1-1.4-1.4-1.4-3.6 0-4.9l17.5-17.5c1.4-1.4 3.6-1.4 4.9 0 1.4 1.4 1.4 3.6 0 4.9L332 463c-.7.7-1.6 1-2.5 1zM486.5 401h-12c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h12c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM399 442.5c-.9 0-1.8-.3-2.5-1L386 431c-1.4-1.4-1.4-3.6 0-4.9 1.4-1.4 3.6-1.4 4.9 0l10.5 10.5c1.4 1.4 1.4 3.6 0 4.9-.6.7-1.5 1-2.4 1zM314.5 405h-31c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h31c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM338.5 375c-1.9 0-3.5-1.6-3.5-3.5v-23c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v23c0 1.9-1.6 3.5-3.5 3.5zM454.5 382h-15c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h15c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM426.5 414c-1.9 0-3.5-1.6-3.5-3.5v-9c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v9c0 1.9-1.6 3.5-3.5 3.5zM402.5 325c-.9 0-1.8-.3-2.5-1-1.4-1.4-1.4-3.6 0-4.9l15-15c1.4-1.4 3.6-1.4 4.9 0 1.4 1.4 1.4 3.6 0 4.9l-15 15c-.6.7-1.5 1-2.4 1zM423.5 257c-1.2 0-2.3-.6-3-1.6l-7-11c-1-1.6-.6-3.8 1.1-4.8 1.6-1 3.8-.6 4.8 1.1l7 11c1 1.6.6 3.8-1.1 4.8-.5.3-1.2.5-1.8.5zM413.5 198c-.6 0-1.1-.1-1.6-.4l-17-9c-1.7-.9-2.4-3-1.5-4.7.9-1.7 3-2.4 4.7-1.5l17 9c1.7.9 2.4 3 1.5 4.7-.6 1.2-1.8 1.9-3.1 1.9zM220.5 344c-1.6 0-3-1.1-3.4-2.7l-9-36c-.5-1.9.7-3.8 2.5-4.2 1.9-.5 3.8.7 4.2 2.5l9 36c.5 1.9-.7 3.8-2.5 4.2-.2.2-.5.2-.8.2zM276.5 281.5c-2.5 0-4.6-1.9-4.9-4.3l-3-22c-.2-1.3.2-2.6 1-3.7s2-1.7 3.3-1.9c1.3-.2 2.6.2 3.7 1s1.8 2 1.9 3.3l3 22c.2 1.3-.2 2.6-1 3.7s-2 1.7-3.3 1.9h-.7zm-3-29h-.3c-.5.1-1 .3-1.3.8-.3.4-.5 1-.4 1.5l3 22c.1 1.1 1.1 1.9 2.2 1.7.5-.1 1-.3 1.3-.8.3-.4.5-1 .4-1.5l-3-22c-.1-.5-.3-1-.8-1.3-.2-.3-.7-.4-1.1-.4zM139.5 297h-.3l-21-2c-1.9-.2-3.3-1.9-3.2-3.8.2-1.9 1.9-3.3 3.8-3.2l21 2c1.9.2 3.3 1.9 3.2 3.8-.2 1.8-1.7 3.2-3.5 3.2zM289.5 168c-.3 0-.6 0-1-.1l-7-2c-1.9-.5-2.9-2.5-2.4-4.3.5-1.9 2.5-2.9 4.3-2.4l7 2c1.9.5 2.9 2.5 2.4 4.3-.4 1.5-1.8 2.5-3.3 2.5zM89.5 400H89c-1.9-.3-3.2-2.1-2.9-4l4-26c.3-1.9 2.1-3.2 4-2.9 1.9.3 3.2 2.1 2.9 4l-4 26c-.3 1.7-1.8 2.9-3.5 2.9zM163.5 400c-.5 0-1-.1-1.5-.3-1.8-.8-2.5-2.9-1.7-4.7l7-15c.8-1.8 2.9-2.5 4.7-1.7 1.8.8 2.5 2.9 1.7 4.7l-7 15c-.6 1.3-1.9 2-3.2 2zM221.5 263c-1.7 0-3.2-1.2-3.5-3-.3-1.9 1-3.7 2.9-4l13-2c1.9-.3 3.7 1 4 2.9s-1 3.7-2.9 4l-13 2c-.1.1-.3.1-.5.1zM174.5 341c-.4 0-.7-.1-1.1-.2l-15-5c-1.8-.6-2.8-2.6-2.2-4.4.6-1.8 2.6-2.8 4.4-2.2l15 5c1.8.6 2.8 2.6 2.2 4.4-.5 1.5-1.8 2.4-3.3 2.4zM260.5 320c-1 0-1.9-.4-2.6-1.2-1.3-1.5-1.1-3.7.3-4.9l8-7c1.5-1.3 3.7-1.1 4.9.3 1.3 1.5 1.1 3.7-.3 4.9l-8 7c-.7.6-1.5.9-2.3.9zM217.5 384c-1 0-2-.4-2.7-1.3l-5-6c-1.2-1.5-1-3.7.4-4.9 1.5-1.2 3.7-1 4.9.4l5 6c1.2 1.5 1 3.7-.4 4.9-.6.6-1.4.9-2.2.9zM55.5 423c-.7 0-1.3-.2-1.9-.6l-18-12c-1.6-1.1-2-3.2-1-4.9 1.1-1.6 3.2-2 4.9-1l18 12c1.6 1.1 2 3.2 1 4.9-.8 1.1-1.9 1.6-3 1.6zM53.5 36c-1 0-2.1-.5-2.8-1.4l-7-9c-1.2-1.5-.9-3.7.6-4.9 1.5-1.2 3.7-.9 4.9.6l7 9c1.2 1.5.9 3.7-.6 4.9-.6.6-1.3.8-2.1.8zM303.5 133c-1.8 0-3.4-1.4-3.5-3.3l-1-17c-.1-1.9 1.4-3.6 3.3-3.7 1.9-.1 3.6 1.4 3.7 3.3l1 17c.1 1.9-1.4 3.6-3.3 3.7h-.2zM319.5 184c-1.6 0-3-1.1-3.4-2.7-.5-1.9.7-3.8 2.5-4.2l28-7c1.9-.5 3.8.7 4.2 2.5.5 1.9-.7 3.8-2.5 4.2l-28 7c-.2.2-.5.2-.8.2zM431.5 72c-1.7 0-3.1-1.2-3.4-2.9l-4-22c-.3-1.9.9-3.7 2.8-4.1 1.9-.3 3.7.9 4.1 2.8l4 22c.3 1.9-.9 3.7-2.8 4.1-.3.1-.5.1-.7.1zM354.5 232c-1.3 0-2.5-.7-3.1-1.9l-11-21c-.9-1.7-.2-3.8 1.5-4.7 1.7-.9 3.8-.2 4.7 1.5l11 21c.9 1.7.2 3.8-1.5 4.7-.5.3-1.1.4-1.6.4zM339.5 139c-.6 0-1.2-.2-1.8-.5-1.7-1-2.2-3.1-1.2-4.8l9-15c1-1.7 3.1-2.2 4.8-1.2 1.7 1 2.2 3.1 1.2 4.8l-9 15c-.7 1.1-1.8 1.7-3 1.7zM338.5 79c-.5 0-1-.1-1.5-.3l-13-6c-1.8-.8-2.5-2.9-1.7-4.6.8-1.8 2.9-2.5 4.6-1.7l13 6c1.8.8 2.5 2.9 1.7 4.6-.5 1.2-1.8 2-3.1 2zM223.5 100h-7c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h7c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM312.5 233c-1.9 0-3.5-1.6-3.5-3.5v-8c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v8c0 1.9-1.6 3.5-3.5 3.5zM402.2 160.3c-.3 0-.6 0-.8-.1-2.7-.4-4.6-3-4.1-5.7l4.6-27.7c.5-2.7 3-4.6 5.8-4.1 2.6.4 4.4 2.8 4.2 5.4v.4l-4.6 27.7c-.2 1.3-.9 2.5-2 3.2-1.1.6-2.1.9-3.1.9zm4.6-34.6c-1 0-1.8.7-2 1.7l-4.6 27.7c-.2 1.1.6 2.1 1.6 2.3.5.1 1.1 0 1.5-.3s.7-.8.8-1.3l4.6-27.7v-.1c.1-1-.6-2-1.7-2.2 0-.1-.1-.1-.2-.1zM379.5 102c-1.7 0-3.2-1.3-3.5-3l-2-14c-.3-1.9 1.1-3.7 3-4 1.9-.3 3.7 1.1 4 3l2 14c.3 1.9-1.1 3.7-3 4h-.5zM101.5 454c-.5 0-1.1-.1-1.6-.4l-8-4c-1.7-.9-2.4-3-1.6-4.7.9-1.7 3-2.4 4.7-1.6l8 4c1.7.9 2.4 3 1.6 4.7-.6 1.3-1.8 2-3.1 2zM474.5 136c-1.6 0-3-1.1-3.4-2.7l-3-12c-.5-1.9.7-3.8 2.5-4.2 1.9-.5 3.8.7 4.2 2.5l3 12c.5 1.9-.7 3.8-2.5 4.2-.2.2-.5.2-.8.2zM480.5 508c-1.1 0-2.2-.5-2.9-1.5l-7-10c-1.1-1.6-.7-3.8.9-4.9 1.6-1.1 3.8-.7 4.9.9l7 10c1.1 1.6.7 3.8-.9 4.9-.6.4-1.3.6-2 .6zM145 475.5c-1.9 0-3.5-1.6-3.5-3.5v-21.1c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5V472c0 2-1.6 3.5-3.5 3.5zM380.5 302c-.6 0-1.1-.1-1.7-.4l-13-7c-1.7-.9-2.3-3-1.4-4.7.9-1.7 3-2.3 4.7-1.4l13 7c1.7.9 2.3 3 1.4 4.7-.6 1.1-1.8 1.8-3 1.8zM362.4 343.9c-1.8 0-3.4-1.4-3.5-3.3l-.8-14.7c-.1-1.9 1.4-3.6 3.3-3.7 1.9-.1 3.6 1.4 3.7 3.3l.8 14.7c.1 1.9-1.4 3.6-3.3 3.7h-.2zM223.5 224c-1.9 0-3.5-1.6-3.5-3.5v-9c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5v9c0 1.9-1.6 3.5-3.5 3.5zM380.5 481c-1.2 0-2.3-.6-3-1.6l-7-11c-1-1.6-.6-3.8 1.1-4.8 1.6-1 3.8-.6 4.8 1.1l7 11c1 1.6.6 3.8-1.1 4.8-.5.3-1.2.5-1.8.5zM390.5 26h-12c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5h12c1.9 0 3.5 1.6 3.5 3.5s-1.6 3.5-3.5 3.5zM434.4 111.1c-.6 0-1.2-.2-1.8-.5-1.7-1-2.2-3.2-1.2-4.8l6.2-10.3c1-1.7 3.2-2.2 4.8-1.2 1.7 1 2.2 3.2 1.2 4.8l-6.2 10.3c-.7 1.1-1.8 1.7-3 1.7zM113.5 424.5c-2.3 0-4.3-1.6-4.8-3.8-.3-1.3-.1-2.6.6-3.8.7-1.1 1.8-2 3.1-2.3l28-7c1.3-.3 2.6-.1 3.8.6 1.1.7 2 1.8 2.3 3.1.3 1.3.1 2.6-.6 3.8-.7 1.1-1.8 2-3.1 2.3l-28 7c-.5.1-.9.1-1.3.1zm28-14c-.2 0-.3 0-.5.1l-28 7c-.5.1-1 .5-1.2.9s-.4 1-.2 1.5c.3 1.1 1.4 1.7 2.4 1.5l28-7c.5-.1 1-.5 1.2-.9s.4-1 .2-1.5c-.1-.5-.5-1-.9-1.2-.3-.3-.6-.4-1-.4zM513.5 33.5h-31c-2.8 0-5-2.2-5-5s2.2-5 5-5h31c2.8 0 5 2.2 5 5s-2.2 5-5 5zm-31-7c-1.1 0-2 .9-2 2s.9 2 2 2h31c1.1 0 2-.9 2-2s-.9-2-2-2h-31zM15.5 33.5h-31c-2.8 0-5-2.2-5-5s2.2-5 5-5h31c2.8 0 5 2.2 5 5s-2.2 5-5 5zm-31-7c-1.1 0-2 .9-2 2s.9 2 2 2h31c1.1 0 2-.9 2-2s-.9-2-2-2h-31zM160.5 129h-.7l-24.5-3.4c-1.3-.2-2.5-.9-3.3-1.9-.8-1.1-1.1-2.4-1-3.7.2-1.3.9-2.5 1.9-3.3 1.1-.8 2.4-1.1 3.7-1l24.5 3.4c1.3.2 2.5.9 3.3 1.9.8 1.1 1.1 2.4 1 3.7-.3 2.4-2.4 4.3-4.9 4.3zM136 118.5c-.4 0-.8.1-1.2.4-.4.3-.7.8-.8 1.3-.1.5.1 1.1.4 1.5.3.4.8.7 1.3.8l24.5 3.4c1.1.2 2.1-.6 2.3-1.7.1-.5-.1-1.1-.4-1.5-.3-.4-.8-.7-1.3-.8l-24.5-3.4h-.3zM105.5 14.8c-.6 0-1.2-.1-1.8-.3-1.2-.5-2.2-1.4-2.8-2.6s-.6-2.6-.1-3.8l7.9-20.5c.5-1.2 1.4-2.2 2.6-2.8 1.2-.5 2.6-.6 3.8-.1 2.6 1 3.9 3.9 2.9 6.5l-7.9 20.5c-.6 1.8-2.5 3.1-4.6 3.1zm8-27.6c-.3 0-.5.1-.8.2-.5.2-.9.6-1.1 1.1L103.7 9c-.2.5-.2 1 0 1.5s.6.9 1.1 1.1c1 .4 2.2-.2 2.6-1.1l7.9-20.5c.4-1-.1-2.2-1.1-2.6-.3-.1-.5-.2-.7-.2zM105.5 515.3c-.6 0-1.2-.1-1.8-.3-2.6-1-3.9-3.9-2.9-6.5l7.9-20.5c.5-1.2 1.4-2.2 2.6-2.8 1.2-.5 2.6-.6 3.8-.1 1.2.5 2.2 1.4 2.8 2.6.5 1.2.6 2.6.1 3.8l-7.9 20.5c-.6 2-2.5 3.3-4.6 3.3zm8-27.6c-.3 0-.5.1-.8.2-.5.2-.9.6-1.1 1.1l-7.9 20.5c-.4 1 .1 2.2 1.1 2.6 1 .4 2.2-.2 2.6-1.1l7.9-20.5c.2-.5.2-1 0-1.5s-.6-.9-1.1-1.1c-.3-.1-.5-.2-.7-.2zM480.5 8.5c-1.1 0-2.2-.5-2.9-1.5l-7-10c-1.1-1.6-.7-3.8.9-4.9 1.6-1.1 3.8-.7 4.9.9l7 10c1.1 1.6.7 3.8-.9 4.9-.6.4-1.3.6-2 .6zM200 435c-1.6 0-3.1-1-3.7-2.5l-4-10c-.8-2.1.2-4.4 2.2-5.2 2.1-.8 4.4.2 5.2 2.2l4 10c.8 2.1-.2 4.4-2.2 5.2-.5.2-1 .3-1.5.3zM233 461c-.9 0-1.9-.3-2.7-1-1.6-1.5-1.8-4-.3-5.6l17-19c1.5-1.6 4-1.8 5.6-.3 1.6 1.5 1.8 4 .3 5.6l-17 19c-.7.8-1.8 1.3-2.9 1.3zM296 512c-1.7 0-3.2-1-3.8-2.7l-7-20c-.7-2.1.4-4.4 2.5-5.1 2.1-.7 4.4.4 5.1 2.5l7 20c.7 2.1-.4 4.4-2.5 5.1-.4.1-.9.2-1.3.2zM296 14c-1.7 0-3.2-1-3.8-2.7l-7-20c-.7-2.1.4-4.4 2.5-5.1 2.1-.7 4.4.4 5.1 2.5l7 20c.7 2.1-.4 4.4-2.5 5.1-.4.1-.9.2-1.3.2zM11 270c-.8 0-1.6-.2-2.3-.7l-28-20c-1.8-1.3-2.2-3.8-.9-5.6 1.3-1.8 3.8-2.2 5.6-.9l28 20c1.8 1.3 2.2 3.8.9 5.6-.8 1-2.1 1.6-3.3 1.6zM512 270c-.8 0-1.6-.2-2.3-.7l-28-20c-1.8-1.3-2.2-3.8-.9-5.6 1.3-1.8 3.8-2.2 5.6-.9l28 20c1.8 1.3 2.2 3.8.9 5.6-.8 1-2.1 1.6-3.3 1.6zM41 211c-1.1 0-2.2-.5-3-1.3l-8-9c-1.5-1.7-1.3-4.2.3-5.6 1.7-1.5 4.2-1.3 5.6.3l8 9c1.5 1.7 1.3 4.2-.3 5.6-.7.7-1.7 1-2.6 1zM261 80c-2.1 0-3.9-1.7-4-3.8l-1-23c-.1-2.2 1.6-4.1 3.8-4.2 2.2-.1 4.1 1.6 4.2 3.8l1 23c.1 2.2-1.6 4.1-3.8 4.2h-.2zM209 39c-.5 0-1.1-.1-1.6-.3-2-.9-3-3.2-2.1-5.3l6-14c.9-2 3.2-3 5.3-2.1 2 .9 3 3.2 2.1 5.3l-6 14c-.7 1.5-2.2 2.4-3.7 2.4zM460 327c-.8 0-1.7-.3-2.4-.8-1.8-1.3-2.1-3.8-.8-5.6l12-16c1.3-1.8 3.8-2.1 5.6-.8 1.8 1.3 2.1 3.8.8 5.6l-12 16c-.8 1-2 1.6-3.2 1.6zM446 182c-1.6 0-3.1-1-3.7-2.6l-3-8c-.8-2.1.3-4.4 2.3-5.1 2.1-.8 4.4.3 5.1 2.3l3 8c.8 2.1-.3 4.4-2.3 5.1-.5.2-.9.3-1.4.3zM466 213c-.9 0-1.7-.3-2.5-.8-1.7-1.4-2.1-3.9-.7-5.6l7-9c1.4-1.7 3.9-2.1 5.6-.7 1.7 1.4 2.1 3.9.7 5.6l-7 9c-.7 1-1.9 1.5-3.1 1.5zM9 391c-1.3 0-2.6-.6-3.3-1.8-1.2-1.8-.7-4.3 1.1-5.5l12-8c1.8-1.2 4.3-.7 5.5 1.1 1.2 1.8.7 4.3-1.1 5.5l-12 8c-.7.5-1.4.7-2.2.7z'/%3E%3C/svg%3E");
}
.subscribe .title {
  font-family: 'MADE Dillan', sans-serif;
  color: var(--mainBlack);
}
.subscribe .input-group {
  margin: auto;
}
.subscribe .input-group input,
.btn-subscribe {
  width: 75%;
  height: 50px;
  border: none;
  outline: none;
  margin-right: 0.4px;
  display: block;
  margin-top: 1px;
  display: inline-block;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.1);
}
.subscribe .input-group input {
  padding-left: 10px;
}
.subscribe .input-group .btn-subscribe {
  width: 105px;
  margin-left: 4px;
  margin-top: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--mainBlack);
  color: #fff;
  font-family: 'MADE Dillan', sans-serif;
}

/*********** Start Section Down App ***********/
.install-app {
  padding: 50px 0px;
  background-color: #eee;
  fill: #fff;
  background-size: 500px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' fill-opacity='1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgba(255,255,255,1)} %3C/style%3E%3Ccircle class='st0' cx='87.5' cy='46.5' r='8.5'/%3E%3Ccircle class='st0' cx='94.5' cy='124.5' r='15.5'/%3E%3Ccircle class='st0' cx='244.5' cy='91.5' r='21.5'/%3E%3Ccircle class='st0' cx='348.5' cy='80.5' r='7.5'/%3E%3Ccircle class='st0' cx='155' cy='356' r='10'/%3E%3Ccircle class='st0' cx='422' cy='139' r='14'/%3E%3Ccircle class='st0' cx='123' cy='251' r='6'/%3E%3Ccircle class='st0' cx='280' cy='204' r='11'/%3E%3Ccircle class='st0' cx='315' cy='311' r='11'/%3E%3Ccircle class='st0' cx='262' cy='411' r='6'/%3E%3Ccircle class='st0' cx='455.5' cy='395.5' r='12.5'/%3E%3Ccircle class='st0' cx='432' cy='500' r='25'/%3E%3Ccircle class='st0' cx='432' r='25'/%3E%3Ccircle class='st0' cx='-3.5' cy='240.5' r='10.5'/%3E%3Ccircle class='st0' cx='496.5' cy='240.5' r='10.5'/%3E%3Ccircle class='st0' cx='96' cy='437' r='3'/%3E%3C/svg%3E");
}
.install-app .box-img {
  width: 300px;
  height: 400px;
  margin: auto;
}
.install-app .box-img img {
  width: 100%;
  height: 100%;
}
.btn-app {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
}
.content {
  margin-top: 50px;
  text-align: center;
}
.btn-down {
  border: none;
  height: 50px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 1px 1px 2px #d4d4d4, -1px -1px 2px #d4d4d4;
  margin: 10px 0px;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}
.btn-down.btn-google {
  margin-left: 0px;
}
@media screen and (min-width: 800px) {
  .content {
    margin-top: 50px;
    float: left;
    text-align: left;
  }
  .content p {
    font-size: 23px;
    float: left;
  }
  .btn-down {
    border: none;
    height: 50px;
    border-radius: 5px;
    width: 230px;
    box-shadow: 1px 1px 2px #d4d4d4, -1px -1px 2px #d4d4d4;
  }
  .btn-down.btn-google {
    margin: 10px 0px 10px 10px;
  }
}
/*************** Styled About *****/
.about {
  background-color: #fdfdfd;
}
.about .title-content {
  margin-top: 50px;
  text-transform: capitalize;
}
.about strong {
  font-weight: 500;
}
.about p {
  text-align: left;
}

/***********Style Title *************/
.title-head {
  padding: 50px 0px;
  background-color: var(--mainBackground);
  fill: #fff;
  background-size: 500px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' fill-opacity='1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgba(255,255,255,1)} %3C/style%3E%3Ccircle class='st0' cx='87.5' cy='46.5' r='8.5'/%3E%3Ccircle class='st0' cx='94.5' cy='124.5' r='15.5'/%3E%3Ccircle class='st0' cx='244.5' cy='91.5' r='21.5'/%3E%3Ccircle class='st0' cx='348.5' cy='80.5' r='7.5'/%3E%3Ccircle class='st0' cx='155' cy='356' r='10'/%3E%3Ccircle class='st0' cx='422' cy='139' r='14'/%3E%3Ccircle class='st0' cx='123' cy='251' r='6'/%3E%3Ccircle class='st0' cx='280' cy='204' r='11'/%3E%3Ccircle class='st0' cx='315' cy='311' r='11'/%3E%3Ccircle class='st0' cx='262' cy='411' r='6'/%3E%3Ccircle class='st0' cx='455.5' cy='395.5' r='12.5'/%3E%3Ccircle class='st0' cx='432' cy='500' r='25'/%3E%3Ccircle class='st0' cx='432' r='25'/%3E%3Ccircle class='st0' cx='-3.5' cy='240.5' r='10.5'/%3E%3Ccircle class='st0' cx='496.5' cy='240.5' r='10.5'/%3E%3Ccircle class='st0' cx='96' cy='437' r='3'/%3E%3C/svg%3E");
}

/***** Start Contact ***/
.contact {
  padding: 100px 0 !important;
  overflow: hidden;
  background-color: var(--offWhite);
  fill: #fff;
  background-size: 500px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st2{fill:rgba(255,255,255,1)} %3C/style%3E%3Cg style='display:none'%3E%3Cpath style='display:inline;fill:%23808080' d='M-10-12h522v522H-10z' id='Layer_1'/%3E%3C/g%3E%3Cg id='Layer_2'%3E%3Cpath class='st2' d='M113.3 136c-2.6-4.6-5.1-8.9-3.3-13.7.5-1.5 1.6-2.5 2.9-3.8 1.5-1.4 3.1-3 3.9-5.3.9-2.7.5-5.8.2-8.5-.2-1.5-.4-3-.4-4.2 0-.7.1-1.3.1-2 .2-4.5.5-9.1-1-13-1.6-4.2-5-6.8-10.1-7.5-1-7-11.9-10.6-15.5-11.6-6.5-1.8-8.6-.7-13.6 1.9l-.8.4c-5.5 2.1-11.6 13.9-11.4 18.8.1 2.9 1.6 5.3 3.1 7.6 1 1.6 2 3.1 2.4 4.7.2.7.1 1.4 0 2.1-.2 1.2-.4 2.8.5 4.7.8 1.7 2.6 2.9 4.2 4.1.7.5 1.3.9 1.7 1.3.3.3.9 1.1 1.4 1.7.7.8 1.1 1.3 1.5 1.7 1.5 1.4 3.2 2.5 4.9 3.6 1.3.9 2.6 1.7 3.7 2.6 2.3 2 2.6 3.3 3 5.7.3 1.4.6 3.2 1.4 5.4.5 1.3 1 2.3 1.5 3 .7 1.3 1.1 2 1.2 4.3-.3 1.2-1.7 6.2-2.1 7.2-.3.5-.3 1.1-.1 1.6 1.7 4.7 5.1 4.8 7.6 4.9 1.1 0 2.2.1 3.1.5.8.4 1.6 1 2.3 1.7 1.1 1 2.4 2.1 4.1 2.1.2 0 .4 0 .7-.1 1.9-.3 3.5-1.9 5.5-5.4.4-.6.6-1.3.9-1.9.1-.2.2-.4.2-.6 1.5-4.9-1.3-9.7-3.7-14zM51.2 88c-2.7-.6-5.4-1.1-8.1-1.7-1.9-.4-2.7 2.5-.8 2.9 2.7.6 5.4 1.1 8.1 1.7 1.9.3 2.7-2.6.8-2.9zM55.2 56.8c-.8-1.8-3.4-.2-2.6 1.5 1.8 4 4 7.6 6.8 11 1.2 1.5 3.3-.6 2.1-2.1-2.5-3.2-4.6-6.6-6.3-10.4zM82.8 50.9c-.7.2-1.3 1.1-1 1.8.1.2.1.4.2.5v.1c-.5.4-.8 1-.6 1.6.2.8 1.1 1.3 1.8 1 1.8-.5 2.1-2.6 1.5-4.1-.3-.6-1-1.1-1.9-.9zm-.9 2.8v-.2.2zM105.8 52.2c-2.7 3.3-4.6 7.1-5.3 11.4-.3 1.9 2.6 2.7 2.9.8.6-3.7 2.1-7.1 4.5-10.1 1.3-1.5-.8-3.6-2.1-2.1zM122.1 72.8c-.4-.7-1.3-.9-2.1-.5l-1.8.9c-.7.4-.9 1.4-.5 2.1.4.7 1.3.9 2.1.5l1.8-.9c.7-.4.9-1.4.5-2.1zM57.6 111.5c-1 .5-2.1 1.1-3.1 1.6-.7.4-.9 1.4-.5 2.1.4.7 1.3.9 2.1.5 1-.5 2.1-1.1 3.1-1.6.7-.4.9-1.4.5-2.1-.5-.7-1.4-.9-2.1-.5zM390.2 383.2c-.9-2.9-1.8-5.8-2.6-8.7-.6-1.8-3.5-1.1-2.9.8.9 2.9 1.8 5.8 2.6 8.7.6 1.9 3.5 1.1 2.9-.8zM424.9 390.8c1.8-.6 2.5-3 3.2-4.5.7-1.8 1.4-3.6 1.9-5.4.5-1.9-2.4-2.7-2.9-.8-.4 1.3-.8 2.7-1.3 4-.3.9-.6 1.7-1 2.6-.2.4-.4.7-.6 1.1-.1.3-.6.4 0 .2-1.9.5-1.1 3.4.7 2.8zM441.3 402.1c1.1-.8 2.3-1.7 3.4-2.5.7-.5 1-1.3.5-2.1-.4-.6-1.4-1-2.1-.5-1.1.8-2.3 1.7-3.4 2.5-.7.5-1 1.3-.5 2.1.4.6 1.4 1 2.1.5zM370.8 414.8c-1.8-2.6-4.7-3.7-7.8-3.2-1.9.3-1.1 3.2.8 2.9 1.7-.3 3.4.4 4.4 1.8 1.1 1.6 3.7.1 2.6-1.5zM457.7 427.7c2.2-.7 4.4-1.4 6.7-2 1.8-.6 1.1-3.5-.8-2.9-2.2.7-4.4 1.4-6.7 2-1.8.6-1 3.5.8 2.9zM371.7 396.6c-3.1-2.5-6.2-4.9-9.3-7.4-1.5-1.2-3.6.9-2.1 2.1 3.1 2.5 6.2 4.9 9.3 7.4 1.5 1.2 3.6-.9 2.1-2.1zM219.3 205.6c-.4-.7-1.2-1.2-2-1.1-.8.1-1.5.7-1.7 1.5 0 .2-1.3 4.4-8.7 7.6-4 1.7-6.4 3.9-7.2 6.4-.8 2.6.4 4.5.5 4.6l53.1 88.2c.2.4 1.4 2.3 3.8 2.9.5.1.9.2 1.4.2 1.4 0 2.8-.5 4.3-1.4 1.7-1.1 2.9-2.4 3.9-3.8v-.1c2-2.8 2.6-5.4 2.6-5.6.1-.5 0-.9-.2-1.4l-49.8-98zm41.2 105.6c-1 .6-1.8.9-2.5.7-.8-.2-1.3-1-1.3-1v-.1l-53.1-88.2c0-.1-.4-.7-.1-1.5.2-.7 1.1-2 4-3.5l18.5 32.1c.4.6 1 1 1.7 1 .3 0 .7-.1 1-.3 1-.6 1.3-1.8.7-2.7l-18.3-31.8c3.1-1.7 5-3.6 6.3-5.2l47.8 94.1c0 .1-.1.3-.2.5L246.8 272c-.5-1-1.7-1.3-2.7-.8-1 .5-1.3 1.7-.8 2.7l19.4 35.3c-.7.8-1.3 1.4-2.2 2zM322 132.2c-.5-.6-1.4-.8-2.2-.6-.2.1-4.3 1.5-11.2-2.8-3.7-2.3-6.8-3-9.4-2.2-2.6.8-3.5 2.9-3.5 3.1l-42 94c-.2.4-1.1 2.5-.2 4.8.7 1.7 2.1 3.1 4.3 3.9 1.9.8 3.9 1 5.6 1 3.3 0 5.8-1 5.9-1 .4-.2.8-.5 1-.9l52-97c.4-.8.2-1.7-.3-2.3zm-54.9 96.6c-1 .3-3.1.7-5.4.4l15.1-33.5c.5-1 0-2.2-1-2.6-1-.5-2.2 0-2.6 1l-15.3 33.7c-.3-.3-.6-.6-.7-.9-.3-.8 0-1.6.1-1.7v-.1l42-94c0-.1.3-.7 1.2-.9.7-.2 2.3-.3 5.1 1.3L289.9 165c-.5 1 0 2.2 1 2.7.3.1.6.2.8.2.8 0 1.5-.4 1.8-1.2l15.6-33.2c3.1 1.5 5.8 2.1 7.8 2.2l-49.8 93.1zM246 122c.2.4 1.2 2.4 3.6 3.2.6.2 1.2.3 1.9.3 1.2 0 2.5-.4 3.9-1.1 5.4-2.9 7.2-8.6 7.3-8.9.1-.4.1-.9-.1-1.4l-42-101.7c-.3-.8-1.1-1.2-1.9-1.2-.8 0-1.6.6-1.8 1.3-.1.2-1.6 4.3-9.3 6.9-4.1 1.4-6.7 3.3-7.6 5.8-1 2.5.1 4.5.1 4.7L246 122zm-42.3-95.4c.3-.7 1.2-1.9 4.3-3.1l15.9 33.4c.3.7 1.1 1.1 1.8 1.1.3 0 .6-.1.9-.2 1-.5 1.4-1.7.9-2.7L211.7 22c3.2-1.5 5.3-3.2 6.6-4.7l40.2 97.6c-.4 1-1.4 2.9-3.1 4.5l-16.2-32.9c-.5-1-1.7-1.4-2.7-.9-1 .5-1.4 1.7-.9 2.7l16.4 33.2c-.4.1-.8.1-1.1 0-.8-.3-1.2-1.1-1.2-1.1v-.1l-45.9-92.2c-.2-.1-.5-.7-.1-1.5zM407.5 299H405v-2.5c0-1.1-.9-2-2-2s-2 .9-2 2v2.5h-2.5c-1.1 0-2 .9-2 2s.9 2 2 2h2.5v2.5c0 1.1.9 2 2 2s2-.9 2-2V303h2.5c1.1 0 2-.9 2-2s-.9-2-2-2zM120.7 210.7l2.7-2.7c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-2.7 2.7-2.7-2.7c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l2.7 2.7-2.7 2.7c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l2.7-2.7 2.7 2.7c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-2.7-2.7zM449.6 471.6c0-.1-3.1-14.1-4.8-23.1-1.3-7.2-1.4-11.7-1.4-13.1.9-1.8 4-8.2 3.1-14.2-.3-1.8-.3-3.2-.4-4.4-.2-3.1-.3-5.8-3.9-7.3-1.5-.6-2.9-1.2-4.2-1.6-1.5-.6-2.9-1.1-4-1.6-.6-.3-2-1-11.5 2.3l-.2.2c-.2.1-6.4 4.3-14.4 14.3-.4.5-1.9-1.6 10-13 .3-2.9-.6-6.7-.8-8.3-.5-3.1-4.9-6.6-6.2-7.6l-.6-.3c-4.9-1.5-16.8-4.4-20.3-.6-3.3 3.6-6.2 12.2-6.3 16.7 0 2 .1 6.4.3 10.9.2 4.5.3 9.3.3 12.6 0 2.5-.3 6.1-.7 9.5-.8 8.3-1.1 12.2.2 14 1.5 2.1 2.6 3.1 4.5 4.9.4.4.9.8 1.5 1.3 4.4 4.1 16.9-.9 25.3-7.8 4.6-3.8 9.1-7.9 12.4-11-.2-.7-.1-2 .4-4.9.7-4.4-.2-5.9-.2-5.9.2-.1.5-.1.8.2.8.6.9 2.6.3 5.9l-.1 3.6c.2 1.9.6 4.2 1.5 6.8l.9-1.5c.1-.3.5-.4.8-.3.3.1.4.5.3.8l-1.4 2.3c.3.7.6 1.3.9 2l1.1-2.3c.1-.3.5-.4.8-.3.3.1.4.5.3.8l-1.5 3c0 .1.1.1.1.2.3.5.6 1 .9 1.4l.5-1.1c.1-.3.5-.4.8-.3.3.1.4.5.3.8l-.8 1.7c2.6 3.9 4.6 6 6 7.5.7.8 1.3 1.3 1.6 1.8 1.3 2.1 4.1 6.3 4.2 6.5.4.6 1 .9 1.7.9.3 0 .5-.1.8-.2.8-.4 1.3-1.3 1.1-2.2z'/%3E%3Cg%3E%3Cpath class='st2' d='M124.4 419.2c-.4-.4-.9-.7-1.5-.7H121c.1-1.2.1-2.7-.6-4.1-3.9-7.8-10.3-14.1-17.2-16.9-4.7-1.9-7.1.1-8.3 2.1-2.8 4.5-8.2 7.1-13.4 9.7-2.3 1.1-4.4 2.1-6.3 3.3-2.1 1.3-3.1 2.3-3.3 5.3 0 .2 0 .4.1.6h-3.2c-.6 0-1.1.3-1.5.7s-.5 1-.5 1.6l4.3 27.5c.2 1 1 1.7 2 1.7h45.5c1 0 1.8-.7 2-1.7l4.3-27.5c.1-.6-.1-1.2-.5-1.6zM76 418.1c0-1.3 0-1.3 1.4-2.1 1.7-1.1 3.7-2.1 5.9-3.1 5.4-2.7 11.6-5.7 15-11.1.5-.8 1.1-1.4 3.5-.5 6 2.4 11.6 8 15.1 15 .3.5.2 1.4.2 2.3H75.9c.1-.2.1-.4.1-.5zm40.9 27.9H91v-.2l-1-9c-.1-1.1-1.1-1.9-2.2-1.8-1.1.1-1.9 1.1-1.8 2.2l1 8.8h-4.1L81 430.8c-.1-1.1-1.1-1.9-2.2-1.7-1.1.1-1.9 1.1-1.7 2.2l1.8 14.8h-4l-3.6-23.5h49.3l-3.7 23.4z'/%3E%3Ccircle class='st2' cx='98' cy='414' r='2'/%3E%3Ccircle class='st2' cx='104.5' cy='408.5' r='2.5'/%3E%3C/g%3E%3Cpath class='st2' d='M394.2 176c.6-3.2 1.2-6.1 3.9-7.7.8-.5 1.8-.5 2.9-.6 1.2-.1 2.6-.2 4-.9 1.5-.9 2.5-2.5 3.5-3.9.5-.8 1-1.6 1.5-2.1.3-.3.6-.6.8-.9 1.9-2 3.9-4.1 4.7-6.5.9-2.6.3-5.1-1.8-7.5 2.3-3.7-1.4-9.7-2.6-11.6-2.3-3.4-3.7-3.8-7.1-4.5l-.6-.1c-3.4-1.2-10.9 1.9-12.8 4.3-1.1 1.4-1.4 3.1-1.6 4.8-.2 1.2-.3 2.3-.8 3.2-.2.4-.5.7-.9 1-.6.5-1.3 1.1-1.6 2.4-.3 1.1.1 2.4.4 3.6.1.5.3 1 .3 1.3v2.7c.2 1.3.5 2.5.8 3.6.3.9.5 1.8.7 2.7.3 1.9-.1 2.6-.9 3.9-.4.8-1 1.7-1.5 3.1-.3.8-.4 1.5-.5 2-.2.9-.3 1.4-1.2 2.5-.6.4-3.2 2.2-3.8 2.6-.3.1-.6.4-.7.7-1.1 2.9.5 4.3 1.6 5.3.5.5 1 .9 1.3 1.5.2.5.3 1.1.4 1.7.1.9.3 1.9 1.1 2.6.1.1.2.2.3.2 1 .6 2.4.5 4.7-.3.4-.1.8-.3 1.2-.5.1 0 .2-.1.3-.2 2.8-2.1 3.4-5.4 4-8.4zM438.5 49.6l3.2-5.4c.9-1.6.4-3.6-1.1-4.5-1.6-.9-3.6-.4-4.5 1.1l-3.2 5.4-5.4-3.2c-1.6-.9-3.6-.4-4.5 1.1-.9 1.6-.4 3.6 1.1 4.5l5.4 3.2-3.2 5.4c-.9 1.6-.4 3.6 1.1 4.5.8.5 1.7.6 2.5.4.8-.2 1.6-.7 2-1.5l3.2-5.4 5.4 3.2c.8.5 1.7.6 2.5.4.8-.2 1.6-.7 2-1.5.9-1.6.4-3.6-1.1-4.5l-5.4-3.2zM169 378.4l-2 .8-.8-2c-.3-.9-1.3-1.3-2.2-1-.9.3-1.3 1.3-1 2.2l.8 2-2 .8c-.9.3-1.3 1.3-1 2.2.3.9 1.3 1.3 2.2 1l2-.8.8 2c.3.9 1.3 1.3 2.2 1s1.3-1.3 1-2.2l-.8-2 2-.8c.9-.3 1.3-1.3 1-2.2-.3-.9-1.3-1.3-2.2-1z'/%3E%3C/g%3E%3C/svg%3E");
}
.contact .title {
  margin-bottom: 40px;
  color: var(--mainBlack);
}
.contact select {
  width: 125px;
  height: 40px;
  padding: 5px 10px;
  background-color: #4b72c5;
  border: 2px solid var(--darkGrey);
  color: #fff;
  font-weight: bold;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact .bg-primary {
  background: var(--mainBlack) !important;
}

/************** STyling  Card   ****/

.card {
  width: 100%;
  height: 100%;
  border: 0px solid #eee;
  float: left;
  margin: 50px auto;
  text-align: center;
  overflow: hidden;
  border: none !important;
}
.card a {
  text-decoration: none !important;
}
.card .link-product {
  position: relative;
}
.card .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  opacity: 0;
  transition: 0.6s;
}
.card .link-product .overlay .view {
  position: absolute;
  top: 40%;
  left: 37%;
  padding: 10px 40px;
  border: 2px solid #fff;
  color: #fff;
}
.card:hover .overlay {
  opacity: 1;
}
.card img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .title {
  float: left;
  font-weight: 400;
  margin: 10px 0px 10px 0px;
  color: var(--mainBlack);
}
.card .price {
  float: right;
  font-weight: 700;
  margin: 10px;
  color: var(--mainBlack);
}

.card .btn-add {
  display: block;
  border: none;
  background-color: var(--mainBlack);
  width: 80%;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  margin: 30px auto 10px auto;
}
/*************************Start Product INfo  ********/
.product-info {
  padding: 70px 0px;
}
.product-info .cover-img {
  margin: auto;
}

.product-info .cover-img img {
  width: 100%;
  height: 100%;
}

.product-info .data-product strong {
  font-weight: 600;
}
.product-info .data-product .info {
  margin-top: 20px;
  display: block;
  font-size: 15px;
}
.product-info .data-product .title {
  font-weight: 600;
  font-size: 22px;
}
.product-info .data-product p {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  display: block;
}
.product-info .data-product span {
  font-weight: 400;
}
.product-info .data-product .btn-add {
  text-align: center !important;
  float: left;
  margin: 50px 10px;
  border: none;
  background-color: var(--mainBlack);
  width: 35%;
  height: 50%;
  padding: 10px 30px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .product-info .data-product {
    margin-top: 50px;
  }
  .product-info .data-product .btn-add {
    width: 100%;
    margin: 10px auto;
    font-weight: 400;
  }
}
/*************************** Start CArt *************************/
.empty-cart {
  height: 78vh;
}
.empty-cart h2 {
  padding-top: 50px;
}
.cart {
  height: auto;
}
.cart-item-wrapper {
  margin-top: 2rem;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  min-height: 10rem;
}
.cart-item-wrapper .box-img {
  width: 100px;
  height: 100px;
}
.cart-item-wrapper .img {
  width: 100%;
}
.cart-item-wrapper .data-item {
  text-align: left;
  font-size: 12px !important;
  padding: 0.5rem;
}
.cart-item-wrapper .group-btn {
}

.cart-item-wrapper .group-btn button {
  display: block;
  margin: 5px 5px 0px 5px;
  border: none;
  line-height: 1;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15), -1px -1px 3px rgba(0, 0, 0, 0.16);
}
.cart-item-wrapper .group-btn .count {
  height: 40px;
  width: 40px;
  display: block;
  margin: 5px 0px 0px 0px;
  line-height: 2.4;
  border-radius: 4px;
}
.cart-item-wrapper .group-btn .btn-Rem {
  background-color: var(--mainRed);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), -2px -2px 4px rgba(0, 0, 0, 0.26);
  color: #fff;
}

.total {
  font-weight: 600;
  font-size: 22px;
  color: var(--primaryblue);
  text-transform: capitalize;
}
.clear_cart {
  width: 200px;
  height: 50px;
  background-color: var(--mainBlack);
  border: none;
  color: #fff;
  margin-top: 3rem;
}

/************* style Footer *********/
.Footer {
  margin-top: 50px;
}
.foot {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: var(--mainBlack);
  text-align: center;
  color: var(--mainWhite);
  text-transform: capitalize;
}
